/*Colors*/
$white : white;
$gris : #f2f2f2;
$grey : grey;
$grey2 : #E8E8E8;
$darkgrey2 : #D8D8D8;
$verydarkgrey : #989898;
$darkGreySpe : rgba(13, 11, 11, 0.864);
$violet : purple;
$rose : #FF79DA;
$violetSpe : #9356DC;
$verylightpurple : #EDE3FF;
$green : green;
$greenSpe : #99E2D0;
$hoverChoixColor : #eadafd;
$noir : black;