/*LOADER*/
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    height: 200px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #99E2D0;
    -webkit-animation: spin-loader 1s linear 1 forwards;
    animation: spin-loader 1s linear 1 forwards;
    -webkit-transform: rotate(45deg);
    transform:  rotate(45deg);
  }
  
  @-webkit-keyframes spin-loader {
    0% { -webkit-transform: rotate(0deg); }
    50%     { -webkit-transform: rotate(180deg); }
    99.99% {
      -webkit-transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes spin-loader {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    99.99% {
      transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.blocPage {
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

/*Affichage des éléments de la page au fur et à mesure*/




/*Colors*/
$blanc : white;
$gris : #f2f2f2;
$grey2 : lightgray;
$darkgrey2 : dimgrey;
$darkGreySpe : rgba(13, 11, 11, 0.864);
$violet : purple;
$rose : #FF79DA;
$violetSpe : #9356DC;
$green : green;
$greenSpe : #99E2D0;
$hoverChoixColor : #eadafd;
$noir : black;


/*GENERAL*/
a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
  }

*{
        font-family: 'Roboto', sans-serif;
}

h1, h2, h3,h4,h5{
    font-family: 'Shrikhand', cursive;
}


.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
}



.entete{
    width: 100%;
    height: 40px;
}

.blocPage{
    width: 100%;
    padding: 0;
}

/*ACCUEIL.HTML /  MENU*/
.divHeader{
    height: 40px;
    display: flex;
    .divLogo{
        height: 40px;
        width: 70%;
        display: flex;
        align-items: center;
    }
}

.divLogo img{
    height: 35px;
    width: 150px;
}

/*ACCUEIL.HTML /  MENU*/


/*DIVLOCATION*/
.divLocation{
    border-top: 3px solid $darkgrey2;
    background-color: $grey2;
    height: 50px;
    margin-bottom: 0;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.divLocation i{
    margin-right: 15px;
}
/*DIVLOCATION*/

/*INTRODUCTION*/
.introduction {
    height: 250px;
    background-color: $gris;
    width: 100%;
    flex-wrap: wrap;
}
/*_________ reservezPhrase _________*/
.reservezPhrase {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    .reservezPhrase h2{
        margin-left: 20px;
        margin-right: 20px;   
    }
}
/*_________ exploreButton _________*/
.exploreButton {
  border: none;
  height: 50px;
  width: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
  padding: 0;   
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px 0px #7d7d7d;
  cursor: pointer;
  background: linear-gradient(
    356deg,
    rgba(155, 89, 220, 1) 0%,
    rgba(167, 127, 216, 1) 33%,
    rgba(255, 121, 218, 1) 100%
  );
  &:hover {
    box-shadow: 0px 6px 14px 0px #525252;
    background: linear-gradient(
      356deg,
      lighten(rgba(155, 89, 220, 1), 5%) 0%,
      lighten(rgba(167, 127, 216, 1), 5%) 33%,
      lighten(rgba(255, 121, 218, 1), 5%) 100%
    );
  }
}

.exploreButton a{
    color: white;
    margin: 0;
}
/*INTRODUCTION*/



/*FONCTIONNEMENT*/
.fonctionnement{
    height: 460px ;
}

/*_________ listChoix _________*/
.listChoix{
    width: 95%; 
    .choix{
        width: 100%;
        height: 80px;
        background-color: $gris;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        position:relative;
        z-index: 0;
        margin-bottom: 20px;
        align-items: center;
        .choix i{
            color: grey;
        }
        .choix:hover{
            background-color: $hoverChoixColor;
        }
    }  
}

.choix:hover .iconFonc{
    color: $violetSpe;
}
.numberFonc{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: $violetSpe;
    color : $blanc;
    margin-left: -5%;
    text-align: center;
    margin-right: 6%;
    .iconFonc{
        width: 10%;
    }
    .space{
        width: 3%;
    }
}

.textFonc{
    width: 77%;
    font-weight: bold;
    font-size: 18px;
}
/*FONCTIONNEMENT*/


/*RESTAURANTS*/
.restaurants{
    display: block;
    .cardRestaurants1{
        width: 348px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        .cardRestaurantsImage{
            height: 165px;
            width: 348px;
            border-radius: 10px 10px 0 0;  
        }
        .cardRestaurantsInfos{
            display: flex;
            width: 348px;
            border-radius: 0 0 10px 10px;
            padding-left: 0px;
            .infoCard{
                width: 85%;
                padding-bottom: 5px;
                padding-left: 10px;
                .p1{
                    margin-bottom: -10px;
                }
            }
            /*
            .divHeart{
                width: 15%;
                border-radius: 0 0 10px 0;
                padding-left: 25px;
                padding-top: 25px;
            }
            .divHeart i{
                font-size: 25px;   
            }
            */
        }
    }
}
.cardRestaurantsImage img{
    height: 165px;
    width: 348px;
    border-radius: 10px 10px 0 0;
    position:relative;
}

.nouveau{
    font-size: 13px;
    background-color: $greenSpe;
    color: $green;
    position: absolute;
    margin-top: -160px;
    margin-left: 275px;
    padding: 5px;
    border-radius: 2px;
}
/*RESTAURANTS*/

/*FOOTER*/
footer{
    background-color: rgba(13, 11, 11, 0.864);
    margin-bottom: 0;
    text-decoration-color: $blanc;
    padding-left: 25px;
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        color: $blanc;
    }
    .ohmyfoodFooter{
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .ohmyfoodFooter div{
        color: $blanc;
    }
    .ohmyfoodFooter div:hover, a:hover{
        color: $violetSpe;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: $blanc;
    }
    
}
 


/*----------------------Menu restaurant------------------------*/

.divFlecheEntete{
    margin-left: 0;
    width: 30%;
    display: flex;
    align-items: center;
}
.divFlecheEntete a{
    text-decoration: none;  
}
.divFlecheEntete i{
    font-size: 20px;
}

/*_________divSansHeaderFooter_________*/
.globalSansHeaderFooter{
    margin-left: 20px;
    width: 100%;
}


.divCommander{
    height: 200px;
}



/*--------------------------------------------------------------------------------------------*/





/*ANIM HEART*/
.divHeart svg{
    height: 25px;
    width: 25px;
  }
  
  .heartFill{
    display: none;
  }
  
  .divHeart:hover > .heartEmpty{
    display: none;
  }
  
  .divHeart:hover > .heartFill{
    display: block;
  }
  
  .divHeart:hover > .heartFill svg g{
    animation: fill-in 3s forwards;
    -webkit-animation: fill-in 3s forwards;
    fill-opacity: 0;
  }
  
  .heartFill svg g{
    fill: url(#mygradient);
  }
  
  



  @keyframes fill-in {
    0% {
    fill-opacity: 0;
  }
    100% {
    fill-opacity: 1;
  }
  }

/*ANIM HEART*/