/*Colors*/
$blanc : white;
$gris : #f2f2f2;
$grey2 : lightgray;
$darkgrey2 : dimgrey;
$darkGreySpe : rgba(13, 11, 11, 0.864);
$violet : purple;
$violetSpe : #9356DC;
$green : green;
$greenSpe : #99E2D0;
$hoverChoixColor : #eadafd;


/*ACCUEIL.HTML /  MENU*/
.divHeader{
    height: 40px;
    display: flex;
    .divLogo{
        height: 40px;
        width: 70%;
        display: flex;
        align-items: center;
    }
}

.divLogo img{
    height: 35px;
    width: 150px;
}
/*ACCUEIL.HTML /  MENU*/


/*DIVLOCATION*/
.divLocation{
    border-top: 3px solid $darkgrey2;
    background-color: $grey2;
    height: 50px;
    margin-bottom: 0;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.divLocation i{
    margin-right: 15px;
}
/*DIVLOCATION*/

/*INTRODUCTION*/
.introduction {
    height: 250px;
    background-color: $gris;
    width: 100%;
    flex-wrap: wrap;
}
/*_________ reservezPhrase _________*/
.reservezPhrase {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    .reservezPhrase h2{
        margin-left: 20px;
        margin-right: 20px;   
    }
}
/*_________ exploreButton _________*/
.exploreButton{
    background-color: $violet;
    border-radius: 25px;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);   
}
.exploreButton a{
    color: $blanc;
}
/*INTRODUCTION*/



