.menu {
    height: 1500px;
}

.resto {
    height: 1290px;
}

/* On screens that are between 769px and less than 1079px */
@media screen and (max-width: 1079px) and (min-width: 769px) {
    .menu {
        height: 1540px;
    }

}

/* On screens that are at least 1079px */
@media screen and (min-width: 1079px) {
    .menu {
        height: 1040px;
    }

    .resto {
        height: 790px;
    }

}