/*TITRE*/
.divPlat {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title {
    justify-content: space-around;
}

/*TITRES MENU*/
.listEntree h2,
.listPlat h2,
.listDessert h2 {
    margin-left: 15px;
}

/*CHOIX MENUS*/


.listEntree {
    width: 30%;
}

.listDessert {
    width: 30%;
}

.listPlat {
    width: 30%;
}

.exploreButton {
    margin-top: 50px;
    width: 30%;
}

.resto {
    height: 680px;
}

.menu {
    height: 930px;
}