/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------GENERAL------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*_________ blocPage _________*/


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------HTML------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*_________ HTML _________*/


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------BODY------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*_________ Body _________*/


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------globalPage------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*_________ globalPage _________*/

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------ENTETE------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*_________ Entete _________*/
.entete{
    margin-bottom: 0px;
}

/*-------------------------------------------------------------------------------------*/
/*--------------------------------------HEADER-----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*_________ Header _________*/

/*_________ divLogo _________*/
.divLogo{
    display: flex;
    border: 1px solid red;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;

}
.divSpaceLogo{
    width: 15%;
    border: 1px solid blue;
    margin-left: -10px;
}
.divSpaceLogo a{
    text-decoration: none;
}
.divSpaceLogo i{
    margin-left: 25px;
    margin-top: 3px;
    font-size: 30px;
}
.divLogo img{
    justify-content: center;
    height: 35px;
    width: 150px;
    display: block;
    margin-left: 80px;
    border: 1px solid green;

}






.divIMG{
    border: 1px solid red;
    height: 516px;
    width: 416px;
    margin-left: -10px;
}

.divIMG img{
    height: 516px;
    width: 416px;
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------globalSansHeaderFooter------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*______________ globalSansHeaderFooter _______________*/

/*-------------------------------------------------------------------------------------*/
/*--------------------------------------laNoteEnchantee-----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*_________ laNoteEnchantee _________*/
.laNoteEnchantee{
    background-color: #f2f2f2;
    border-radius: 30px 30px 0 0;
    margin-left: -9px;
    margin-right: -9px;
    padding: 10px;

}

/*-------------------------------------------------------------------------------------*/
/*--------------------------------------divEntrees-----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*_________ divEntrees _________*/

/*-------------------------------------------------------------------------------------*/
/*--------------------------------------choix-----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*_________ choix _________*/
.choix{
    display: block;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: -5px;

}
.choix h3{
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 10px 10px 0 0;

}
.description{
    display: flex;
    border-radius: 0 0 10px 10px;
}
.description p{
    margin-top: 2px;
}
.price{
    margin-left: 80px;

}

/*-------------------------------------------------------------------------------------*/
/*--------------------------------------COMMANDER-----------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*_________ Commander _________*/
.divCommander{
    display: flex;
    margin-bottom: 30px;
}
.divSpace{
    width: 30%;
}
.divBoutton{
    border: 1px solid red;
    height: 40px;
    width: 40%;
    background-color: purple;
    border-radius: 25px;
    text-decoration: none;
    
}
.divBoutton a{
    margin-left: 35px;
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------FOOTER------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*______________FOOTER_______________*/

footer{
    background-color: rgba(13, 11, 11, 0.864);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;
    text-decoration-color: white;
    padding-left: 25px;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: white;
}

.ohmyfood{
    padding-top: 15px;
    padding-bottom: 20px;

}



.ohmyfood div{
    color: white;
}


