@charset "UTF-8";
/*Colors*/
.entete {
  width: 100%;
  height: 45px;
  margin-top: 20px;
}

/*ACCUEIL.HTML /  MENU*/
header {
  display: flex;
}
header .divLogo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divLogo img {
  height: 35px;
}

.divFlecheEntete {
  padding-left: 20px;
  width: 25%;
  display: flex;
  align-items: center;
}

.twentyfivepercent {
  width: 25%;
}

.divFlecheEntete a {
  text-decoration: none;
}

.divFlecheEntete i {
  font-size: 20px;
}

/*FOOTER*/
footer {
  background-color: rgba(13, 11, 11, 0.864);
  margin-bottom: 0;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 20px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
}
footer .fa-solid {
  width: 25px;
}
footer div {
  color: white;
  margin-bottom: 10px;
}
footer div:hover,
footer a:hover {
  color: #9356DC;
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: white;
}

/* On screens at least 769px */
@media screen and (min-width: 769px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 0;
  }
}
/*GENERAL*/
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Shrikhand", cursive;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.blocPage {
  width: 100%;
  padding: 0;
}

/* ---------------------------------------------- ANIMATIONS ----------------------------------------------*/
/*ANIM HEART*/
#stylesvg {
  width: 0;
  height: 0;
  position: absolute;
}

.divHeart svg {
  height: 25px;
  width: 25px;
}

.heartFill {
  display: none;
}

.divHeart:hover > .heartEmpty {
  display: none;
}

.heartFill svg g {
  fill: url(#mygradient);
}

.divHeart:hover > .heartFill {
  display: block;
}

.divHeart:hover > .heartFill svg g {
  animation: fill-in 3s forwards;
  -webkit-animation: fill-in 3s forwards;
  fill-opacity: 0;
}

@-webkit-keyframes fill-in {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

@keyframes fill-in {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
/* ---------------------------------------------- FIN ----------------------------------------------*/
/*_________ exploreButton _________*/
.exploreButton {
  border: none;
  height: 50px;
  width: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
  padding: 0;
  color: #fff;
  font-weight: 900;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px 0px #7d7d7d;
  cursor: pointer;
  transition: 0.5s background-position ease-in-out;
  background-image: linear-gradient(356deg, #9356DC 0%, #a77fd8 33%, #FF79DA 100%, #a16be0 0%, #b493de 33%, #ff93e1 100%);
  background-size: 200%;
  background-position: right;
}
.exploreButton:hover {
  box-shadow: 0px 6px 14px 0px #525252;
  background-position: left;
}

.exploreButton a {
  color: white;
  margin: 0;
}

/*--------------------------------------------------------------------------------------------*/
/*_________ menu _________*/
.menu {
  height: 1410px;
}

/*_________ image _________*/
.divIMG {
  height: 250px;
  background-color: grey;
  position: relative;
}

.divIMG img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*_________ resto _________*/
.resto {
  height: 1200px;
  width: 98%;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  position: absolute;
  z-index: 999;
  margin-top: -40px;
}

/*divHEART*/
.divHeart {
  margin-right: 5%;
  padding-top: 5px;
}

/*_________ title _________*/
.title h1 {
  padding-left: 20px;
}

.partRouge {
  min-height: inherit;
  max-height: inherit;
  width: 100%;
}

.divTitlePlat {
  min-height: 50%;
  max-height: inherit;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 12px;
}
.divTitlePlat h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.9em;
}

.divInfoPlat {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.divDescPlat {
  height: 100%;
  width: 80%;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divPricePlat {
  height: 100%;
  width: 20%;
  text-align: right;
  padding-right: 5%;
}
.divPricePlat .price {
  font-weight: 900;
}

.divValid {
  display: none;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  min-height: 70px;
  max-height: 90px;
  width: 20%;
}

.plat {
  min-height: 70px;
  max-height: 90px;
  width: 95%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 3%;
  cursor: pointer;
}
.plat:hover > .divValid {
  display: block;
  opacity: 1;
  transform-origin: right;
  -webkit-animation: progress-bar 1s;
          animation: progress-bar 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plat:hover > .divValid img {
  display: block;
  height: 25px;
  width: 25px;
  filter: brightness(0) invert(1);
  -webkit-animation: spin 1s linear;
  animation: spin 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.plat:hover > .partRouge {
  border-radius: 20px 0 0 20px;
  width: 80%;
}
.plat:hover > .partRouge .divTitlePlat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat:hover > .partRouge .divTitlePlat h3 {
  display: inline;
}

/*---------*/
@-webkit-keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
/*---------*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*---------*/
/* ---------------------------------------------- ANIMATIONS ----------------------------------------------*/
/*affichage du menu au fur et à mesure*/
@keyframes load {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.listEntree {
  -webkit-animation: load 0.5s ease-in 1;
  animation: load 0.5s ease-in 1;
}

.listPlat {
  -webkit-animation: load 1s ease-in 1;
  animation: load 1s ease-in 1;
}

.listDessert {
  -webkit-animation: load 1.5s ease-in 1;
  animation: load 1.5s ease-in 1;
}

/*affichage du menu au fur et à mesure*/
/* ---------------------------------------------- FIN ----------------------------------------------*/
.listEntree h2,
.listPlat h2,
.listDessert h2 {
  margin-left: 20px;
  margin-top: 25px;
  font-size: 18px;
  padding-bottom: 4px;
  position: relative;
}
.listEntree h2::before,
.listPlat h2::before,
.listDessert h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
}

/*_________ Commander _________*/
.divCommande {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

/*Media queries*/
/* On screens that are between 659px and 768px */
@media screen and (max-width: 768px) and (min-width: 659px) {
  .resto {
    width: 98%;
  }
}
/* On screens that are between 547px and 658px */
@media screen and (max-width: 658px) and (min-width: 547px) {
  .resto {
    width: 97.5%;
  }
}
/* On screens that are between 470px and 546px */
@media screen and (max-width: 546px) and (min-width: 470px) {
  .resto {
    width: 97%;
  }
}
/* On screens that are between 414px and 469px */
@media screen and (max-width: 469px) and (min-width: 414px) {
  .resto {
    width: 96.5%;
  }
}/*# sourceMappingURL=menuresto.css.map */