/*Fonctionnement*/
.fonctionnement h2 {
    padding-left: 35%;
}

/*Restaurant*/
#firstH2 {
    display: block;
    padding-left: 0px;
    text-align: center;
    width: auto;
}

.listResto {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0%;
    padding-right: 0%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

    h2 {
        display: none;
    }

    a {
        width: 42%;
    }
}

.restaurants {
    height: 765px;

    .cardRestaurants1 {
        width: 100%;
    }
}

.nouveau {
    margin-left: 31%;
}