.menu {
    height: 1430px;
}

/*Resto*/
.listEntree h2,
.listPlat h2,
.listDessert h2 {
    width: 15%;
    margin-left: 40%;
}

.exploreButton {
    width: 30%;
}

.resto {
    height: 1180px;
    width: 100%;
    border-radius: 0;
    position: relative;
    z-index: 999;
    margin-top: 0px;
}