html{

}

body{

}
/*_________blocPage_________*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------ENTETE------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*_________entete_________*/
.entete{
    margin-top: -12px;
}
/*_________header_________*/
header{
    margin-left: -10px;
    margin-right: -10px;
    height: 300px;
    padding: 10px;
    background-color: #f2f2f2;
}
/*_________divLogo_________*/
.divLogo{
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    padding: 10px;

}
.divLogo img{
    justify-content: center;
    height: 35px;
    width: 150px;
    display: block;
    margin-left: 120px;

}

/*_________divLocation_________*/
.divLocation{
    border-top: 3px solid dimgrey;
    background-color: lightgray;
    height: 30px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    display: flex;
    padding-left: 120px;
    font-size: 15px;
}

.divLocation i{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-right: 10px;
}

.divLocation p{

}
/*_________Introduction_________*/
.Introduction h2{
    margin-left: 75px;
    width: 250px;
    text-align: center;
}

.phrase p{
    margin-left: 75px;
    width: 250px;
    text-align: center;
}

.exploreButton{
    background-color: purple;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    text-align: center;
    margin-left: 70px;
}

.exploreButton p{
    padding: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------DIV SANS HEADER NI FOOTER------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*_________divSansHeaderFooter_________*/
.divSansHeaderFooter{
    padding: 20px;
}

/*--------------------------------------------------------------------*/
/*--------------------------- FONCTIONNEMENT -------------------------*/
/*--------------------------------------------------------------------*/
/*_________fonctionnement_________*/
.fonctionnement{
    display: block;
}
/*_________choix1_________*/
.choix1 {
    
    border: 1px solid red;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
}
/*_________number1_________*/
.number1{
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    background-color: #9356DC;
}
.number1 p{
    margin: 0;
}
/*_________descChoix1_________*/
.descChoix1{
    border: 1px solid green;
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;

}
.descChoix1 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
    border : 1px solid black; 
}

.descChoix1 p{
    border: 1px solid blue;
    width: 180px;
}


.choix2 {
    
    border: 1px solid red;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
}

/*_________number2_________*/
.number2{
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    background-color: #9356DC;
}
.number2 p{
    margin: 0;
}
/*_________descChoix2_________*/
.descChoix2{
    border: 1px solid green;
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;

}
.descChoix2 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
    border : 1px solid black; 
}

.descChoix2 p{
    border: 1px solid blue;
    width: 180px;
}


.choix3 {
    
    border: 1px solid red;
    display: flex;
    height: auto;
    justify-content: center;
}
/*_________number3_________*/
.number3{
    border: 1px solid black;
    border-radius: 15px 15px 15px 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    background-color: #9356DC;
}
.number3 p{
    margin: 0;
}
/*_________descChoix3_________*/
.descChoix3{
    border: 1px solid green;
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;

}
.descChoix3 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
    border : 1px solid black; 
    color: #9356DC;

}

.descChoix3 p{
    border: 1px solid blue;
    width: 180px;
}

/*--------------------------------------------------------------------*/
/*----------------------------- RESTAURANTS --------------------------*/
/*--------------------------------------------------------------------*/
/*_________ restaurants _________*/
.restaurants{
    display: block;
}
/*_________ cardRestaurants1 _________*/
.cardRestaurants1{
    border: 1px solid red ;
    width: 90%;
}
/*_________ cardRestaurantsImage _________*/
.cardRestaurantsImage{
    height: 165px;
    width: 359px;
}
.cardRestaurantsImage img{
    height: 165px;
    width: 359px;
}
/*_________ cardRestaurantsInfos _________*/
.cardRestaurantsInfos{
    border: 1px solid blue;
    display: flex;
}
/*_________ infoCard _________*/
.infoCard{
    border: 1px solid green;
    width: 90%;
}
/*_________ divHeart _________*/
.divHeart{
    border: 1px solid purple;
    width: 10%;
}
/*_________ blocPage _________*/


/*_________blocPage_________*/




/*______________FOOTER_______________*/

footer{
    background-color: darkgray;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;

}

footer img{
    height: 25px;
    width: 100px;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}

