* {
    box-sizing: border-box;
  }

p{
        font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
/*_________ blocPage _________*/

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------ENTETE------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*_________entete_________*/
.entete{
width: 100%;
height: 40px;

}

   
/*_________divLogo_________*/
.divLogo{
    height: 40px;
    display: flex;
}
.divLogo img{
    justify-content: center;
    height: 35px;
    width: 150px;
    display: block;
    margin-left: 120px;

}

.divFlecheEntete{
    width: 25%;
    margin-left: -10px;
}
.divFlecheEntete a{
    text-decoration: none;
}
.divFlecheEntete i{
    margin-left: 25px;
    margin-top: 3px;
    font-size: 40px;
    

}

.logo{
    width: 75%;
}
.logo img{
    justify-content: center;
    height: 35px;
    width: 150px;
    display: block;
    margin-left: 55px;

}

/*_________divLocation_________*/
.divLocation{
    border-top: 3px solid dimgrey;
    background-color: lightgray;
    height: 50px;
    margin-bottom: 0;

    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;

}

.divLocation i{
    margin-right: 15px;
}

.divLocation p{

}
/*_________Introduction_________*/
.introduction {
    height: 250px;
    background-color: #f2f2f2;
    width: 100%;

}
.Introduction h2{
    
}

.reservezPhrase {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.exploreButton{
    background-color: purple;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    text-align: center;
    margin-left: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.exploreButton p{
    padding: 5px;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------DIV SANS HEADER NI FOOTER------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*_________divSansHeaderFooter_________*/
.globalSansHeaderFooter{
}

/*--------------------------------------------------------------------*/
/*--------------------------- FONCTIONNEMENT -------------------------*/
/*--------------------------------------------------------------------*/
/*_________fonctionnement_________*/
.fonctionnement{
    display: block;
}
/*_________choix1_________*/
.choix1 {
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
    background-color: blue;
}
/*_________number1_________*/
.number1{
    z-index: 1;

    border-radius: 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-left:-345px;
    text-align: center;
    background-color: #9356DC;
    position:absolute;
}
.number1 p{
    margin: 0;
}




/****************TEST*****************/
.choix{
    width: 350px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
    z-index: 0;
    margin-bottom: 20px;
    
    align-items: center;
}
.numberFonc{
    width: 15%;
    border-radius: 15px;
    background-color: #9356DC;
    color : white;
    height: 25px;
    width: 25px;
    margin-left: -3%;
    margin-right: 4%;
    text-align: center;
}
    width: 15%;
}
.textFonc{
    width: 70%;
}

.choix:hover{
    background-color: #eadafd;
}
.choix:hover .iconFonc{
    color: #9356DC;
}
/****************TEST*****************/

/*_________descChoix1_________*/
.descChoix1{
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position:relative;
    z-index: 0;

}
.descChoix1 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
}

.descChoix1 p{
    width: 180px;
}


.choix2 {
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 20px;
}

/*_________number2_________*/
.number2{
    border-radius: 15px 15px 15px 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    background-color: #9356DC;
}
.number2 p{
    margin: 0;
}
/*_________descChoix2_________*/
.descChoix2{
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.descChoix2 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
}

.descChoix2 p{
    width: 180px;
}


.choix3 {
    
    display: flex;
    height: auto;
    justify-content: center;
}
/*_________number3_________*/
.number3{
    border-radius: 15px 15px 15px 15px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    background-color: #9356DC;
}
.number3 p{
    margin: 0;
}
/*_________descChoix3_________*/
.descChoix3{
    background-color: lightgrey;
    display: flex;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.descChoix3 i{
    padding-top: 17px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 0;
    color: #9356DC;
}

.descChoix3 p{
    width: 180px;
}

/*--------------------------------------------------------------------*/
/*----------------------------- RESTAURANTS --------------------------*/
/*--------------------------------------------------------------------*/
/*_________ restaurants _________*/
.restaurants{
    display: block;
}
/*_________ cardRestaurants1 _________*/
.cardRestaurants1{
    width: 348px;

    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*_________ cardRestaurantsImage _________*/
.cardRestaurantsImage{
    height: 165px;
    width: 348px;
    border-radius: 10px 10px 0 0;
}
.cardRestaurantsImage img{
    height: 165px;
    width: 348px;
    border-radius: 10px 10px 0 0;
}
/*_________ cardRestaurantsInfos _________*/
.cardRestaurantsInfos{
    display: flex;
    width: 348px;
    border-radius: 0 0 10px 10px;
    padding-left: 0px;
}
/*_________ infoCard _________*/
.infoCard{
    width: 85%;
    padding-bottom: 5px;
    padding-left: 10px;

}

.infoCard p{
}
/*_________ divHeart _________*/
.divHeart{
    width: 15%;
    border-radius: 0 0 10px 0;
    padding-left: 25px;
    padding-top: 25px;
}

.divHeart i{
    font-size: 25px;
    
}
/*_________ p1 _________*/
.p1{
    margin-bottom: -10px;
}

/*_________ p2 _________*/




/*______________FOOTER_______________*/

footer{
    background-color: rgba(13, 11, 11, 0.864);
    margin-bottom: 0;
    text-decoration-color: white;
    padding-left: 25px;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    color: white;
}

.ohmyfood{
    padding-top: 15px;
    padding-bottom: 20px;

}



.ohmyfood div{
    color: white;
}

.ohmyfood div:hover{
    color: #9356DC;
    cursor: pointer;

}

















